.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #3e8e41;
}

.App p {
  font-size: 20px;
  margin-top: 20px;
  color: #888;
}
